
 
body{
color:blue;
font-family: verdana;
font-size: 20px;
 text-align: center;

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 160px;
  margin-left: 80px;
  
  border-style: solid;
  border-color:2px black;
  padding:30px;
   background-image:url("https://www.wallpaperflare.com/static/77/909/108/android-4k-5k-abstract-wallpaper.jpg")
}

 h1   {color: blue;
 color: blue;}